export ACCESS_TOKEN=EAAERHchkIQwBABuzrD0vvxuVnsaaZCguWNwpmFwoclPmlQm9p427ZBjcXbQug8nGcb0HUG19ZCFv86BQBhUIIufZBCFZBvOSZA9wSax8E09zX4yukwFBi4bC5wc1pcYOzR66FGwYYxlgIUz8SetuH8ifoFfcpNeDZAIHQhJtkMN8gZDZD
export VERIFY_TOKEN=fruit_snacks
export APP_SECRET=helloworld
