export ACCESS_TOKEN=EAAMP5njQnt0BALZCIOs1xlyUnclQZBoztrKi1t41Y9njwTJ5M5BhVZAntKw7a2oaaY0ECvmT44wbEXDy2jK1leBZB7FkpAimyZA5JC6SmZCdpIsQZCeILBZA0UrvwweXdaQLsaJ3kOta4JKSid50waltJLUcmBZBPvWngFYUQbpzbrAZDZD
export VERIFY_TOKEN=fruit_snacks
export APP_SECRET=helloworld
