export ACCESS_TOKEN=EAAGCf1ItyNABAMgaZBBj9U4WdCy9sQbxCZCpaSDYxjOwLpQinxIxArsCA9Tcl9b4RybxQhUcR5ZAfwA8DXNdoGKWAIZB1kF7jNLhrl5r8KLvX6BZCZCIeiPypQPtsZBIuKeSlkepNw7Y2ZBBCjJtikxgpYFCNqT6x0lEOtc622xJjwZDZD
export VERIFY_TOKEN=fruit_snacks
export APP_SECRET=helloworld
